* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}

:root {
  --laranja-principal: #f0572d;
  --azul-escuro: #31363f;
  --preto: #191B1D;
  --preto-total: #000;
  --cinza-background: #DFE4EA;
  --branco: #fff;
  --branco-opaco: #ffffff95;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--laranja-principal);
}